@font-face {
    font-family: fontOne;
    src: url('../fonts/NotoSerifDisplay-Italic-VariableFont_wdth-wght.ttf');
}
@font-face {
    font-family: fontTwo;
    src: url('../fonts/NotoSerifDisplay-VariableFont_wdth-wght.ttf');
}
@font-face {
    font-family: fontThree;
    src: url('../fonts/Arvo-Regular.ttf');
}